{% extends "base.html" %}

{% block content %}

<div class="dropdown text-center" style="margin-top: 90px; width:100%">
    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      April {{day}}th
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" value="8" href="/app_usage?day=8">May 8th</a>
      <a class="dropdown-item" value="9" href="/app_usage?day=9">May 9th</a>
      <a class="dropdown-item" value="10" href="/app_usage?day=10">May 10th</a>
      <a class="dropdown-item" value="11" href="/app_usage?day=11">May 11th</a>
      <a class="dropdown-item" value="12" href="/app_usage?day=12">May 12th</a>
      <a class="dropdown-item" value="13" href="/app_usage?day=13">May 13th</a>
    </div>
  </div>

<div class="col-10 mx-auto">

    

    <!-- <div class="d-flex justify-content-center"> -->

        
        
            {% if day == "8" %}
                {% include "eight.html" %}
            {% endif %}
          
            {% if day == "9" %}
                {% include "nine.html" %}
            {% endif %}

            {% if day == "10" %}
                {% include "ten.html" %}
            {% endif %}

            {% if day == "11" %}
                {% include "eleven.html" %}
            {% endif %}

            {% if day == "12" %}
                {% include "twelve.html" %}
            {% endif %}

            {% if day == "13" %}
                {% include "thirteen.html" %}
            {% endif %}

        
    <!-- </div> -->
</div>

{% endblock %}