{% extends "base.html" %}

{% block content %}

<div class="col-8 mx-auto">
    <div class="d-flex justify-content-center">
        <h2>Welcome to EmoState</h2>
    </div>
    <div class="d-flex justify-content-center">
        <h4>App Usage</h4>
    </div>

    <div class="d-flex justify-content-center">
        <!-- <select name= colours method="POST" action="/app_usage">
            <option value=8 SELECTED>8th of April</option>
            <option value=9>9th of April</option>
            <option value=10>10th of April</option>
        </select> -->
        <div class="dropdown">
            <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              April {{day}}th
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" value="8" href="/app_usage?day=8">April 8th</a>
              <a class="dropdown-item" value="9" href="/app_usage?day=9">April 9th</a>
              <a class="dropdown-item" value="10" href="/app_usage?day=10">April 10th</a>
              <a class="dropdown-item" value="11" href="/app_usage?day=11">April 11th</a>
              <a class="dropdown-item" value="12" href="/app_usage?day=12">April 12th</a>
              <a class="dropdown-item" value="13" href="/app_usage?day=13">April 13th</a>
            </div>
          </div>
        
            {% if day == "8" %}
                {% include "eight.html" %}
            {% endif %}
          
            {% if day == "9" %}
                {% include "nine.html" %}
            {% endif %}

            {% if day == "10" %}
                {% include "ten.html" %}
            {% endif %}

            {% if day == "11" %}
                {% include "eleven.html" %}
            {% endif %}

            {% if day == "12" %}
                {% include "twelve.html" %}
            {% endif %}

            {% if day == "13" %}
                {% include "thirteen.html" %}
            {% endif %}

        
    </div>
</div>

{% endblock %}