<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>EmoState</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
  </head>

  <body>

    <div class="container">
      <!-- child template -->
      {% block content %}{% endblock %} 

      <div class="footer">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-2 text-right"><h5>See My Mental Change By:</h5></div>
          <div class="col-2 padding-0">
            <a class="btn btn-success btn-lg btn-block" href="{{ url_for('main.outdoor_activity') }}" role="button">OutdoorActivity</a>
          </div>
          <div class="col-2 padding-0">
            <a class="btn btn-success btn-lg btn-block" href="{{ url_for('main.app_usage') }}" role="button">App Usage</a>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-2 text-right"><h5>Go For Personal Diagnosis:</h5></div>
          <div class="col-4 padding-0">
              <a class="btn btn-success btn-lg btn-block" href="{{ url_for('main.recommendation') }}" role="button">Diagnosis & Recommendation</a>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% block js %}{% endblock %}

  </body>

</html>
