{% extends "base.html" %}

{% block content %}

<div class="dropdown text-center" style="margin-top: 90px; width:100%">
    <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      April {{day}}th
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" value="8" href="/app_usage?day=29">April 29th</a>
      <a class="dropdown-item" value="9" href="/app_usage?day=30">April 30th</a>
      <a class="dropdown-item" value="10" href="/app_usage?day=1">May 1st</a>
      <a class="dropdown-item" value="11" href="/app_usage?day=2">May 2nd</a>
      <a class="dropdown-item" value="12" href="/app_usage?day=3">May 3rd</a>
      <a class="dropdown-item" value="13" href="/app_usage?day=4">May 4th</a>
      <a class="dropdown-item" value="13" href="/app_usage?day=5">May 5th</a>
      <a class="dropdown-item" value="13" href="/app_usage?day=6">May 6th</a>
    </div>
  </div>

<div class="col-10 mx-auto">

    

    <!-- <div class="d-flex justify-content-center"> -->

        
        
            {% if day == "29" %}
                {% include "a.html" %}
            {% endif %}
          
            {% if day == "30" %}
                {% include "b.html" %}
            {% endif %}

            {% if day == "1" %}
                {% include "c.html" %}
            {% endif %}

            {% if day == "2" %}
                {% include "d.html" %}
            {% endif %}

            {% if day == "3" %}
                {% include "e.html" %}
            {% endif %}

            {% if day == "4" %}
                {% include "f.html" %}
            {% endif %}
            {% if day == "5" %}
                {% include "g.html" %}
            {% endif %}
            {% if day == "6" %}
                {% include "h.html" %}
            {% endif %}

        
    <!-- </div> -->
</div>

{% endblock %}